body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
    border-width:0;
    background-color: white;/*add*/
}
#_idContainer000 {
    z-index:1;/*add1*/
    position: relative;/*add*/
	display:inline-block;
	height:914px;
	width:1920px;
}