.year-box-wrapper {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 4px;
    top: 2px;
}
.year-box {
    width: 10%;
    height: 7%;
    border-radius: 2px;
    position: absolute;
    background-color: transparent;
    border: .5px solid rgb(147, 93, 201);
    left: 45%;
    top: 46.5%;
    transition: background-color 0.2s linear;
}

.current-year {
    position: absolute;
    width: 50%;
    font-size: 18px;
    text-align: center;
    top: 30%;
    font-weight: bolder;
    color: rgb(147, 93, 201);
    left: 24px;
    padding-top: -3px;
	background-color: black;
}

.title {
    color:  rgb(147, 93, 201);
    font-size: 16px;
    width: 100%;
    text-align: center;
    top: -60px;
    left: 24px;
    font-weight: bold;
    position: absolute;
	background-color: black;
}
.center-container {
  color: rgb(255,255,255);
  z-index: 3;
  width: 100%;
  height: 70%;
  text-align: center;
  position: relative;
  left: 26%;
  top: 80%;
  border-radius: 50%;
  background-color: transparent;

}