<div class="_idGenObjectLayout-1">
	<div id="_idContainer000">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/maunakea.jpg" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer001">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/Braid.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer002" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/Computer-Science.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer003">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/Text.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer004" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/Art-Department.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer005" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/1.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer006" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/2.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer007" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/3.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer008" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/Imiloa_Logo.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer009" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/4.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer010" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/5.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer011" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/6.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer012" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/ACMlogo_stacked.png" alt="" />
	</div>
</div>
<div class="_idGenObjectLayout-1">
	<div id="_idContainer013" class="_idGenObjectStyleOverride-1">
		<img class="_idGenObjectAttribute-1" src="assets/images/dstarting-images/Lava-Lab.png" alt="" />
	</div>
</div>