body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
    border-width:0;
    background-color: white;/*add*/
}
#_idContainer000 {
    z-index:1;/*add1*/
    position: relative;/*add*/
	display:inline-block;
	height:914px;
	width:1920px;
}
#_idContainer001 {
    z-index:1;/*add*/
    position: relative;/*add*/
    background-color: black;/*add*/
    top:-10px;
    display:inline-block;
	height:48px;
	width:1920px;
}
#_idContainer002 {
    display:inline-block;
    position: absolute;/*add*/
    left:1.5%;
	height:97px;
	width:117px;
}
#_idContainer003 {
    z-index:2;/*add*/
    position:relative;/*add*/
    top:-900px;/*add*/
    background-color: transparent;/*add*/
    display:inline-block;
	height:259px;
	width:1760px;
}
#_idContainer004 {
    display:inline-block;
    position: absolute;/*add*/
    left:8.5%;
	height:97px;
	width:119px;
}
#_idContainer005 {
    display:inline-block;
    position: absolute;/*add*/
    left:25%;
	height:82px;
	width:93px;
}
#_idContainer006 {
    display:inline-block;
    position: absolute;/*add*/
    left:31.5%;
	height:79px;
	width:62px;
}
#_idContainer007 {
    display:inline-block;
    position: absolute;/*add*/
    left: 37%;
	height:82px;
	width:93px;
}
#_idContainer008 {
    display:inline-block;
    position: absolute;/*add*/
    left:45%;
	height:104px;
	width:167px;
}
#_idContainer009 {
    display:inline-block;
    position: absolute;/*add*/
    left:56.5%;
	height:73px;
	width:110px;
}
#_idContainer010 {
    display:inline-block;
    position: absolute;/*add*/
    left:63.5%;
	height:80px;
	width:80px;
}
#_idContainer011 {
    display:inline-block;
    position: absolute;/*add*/
    left:70%;
	height:73px;
	width:99px;
}
#_idContainer012 {
    display:inline-block;
    position: absolute;/*add*/
    left:76.5%;
	height:73px;
	width:113px;
}
#_idContainer013 {
    display:inline-block;
    position: absolute;/*add*/
    left:91.5%;
	height:73px;
    width:137px;
}
img._idGenObjectAttribute-1 {
    height:100.00%;
	min-width:100%;
    width:100.00%;
}
div._idGenObjectStyleOverride-1 {
    border-width:0px;
    bottom:1%;/*add*/
}
div._idGenObjectLayout-1 {
    text-align:center;
}
