<div class="second-screen-container" [style.backgroundColor]="plan ? 'transparent' : 'black'">
  <div *ngIf="plan; else elseBlock">
    <div *ngFor="let layer of plan.map.mapLayers" [style.opacity]="layer.name === nextLayer ? 1 : 0">
      <div *ngIf="activeLayer; else notActive">
        <img class = "backgroundImage" src="{{ layer.secondScreenImagePath }}" />
      </div>
    </div>  
  </div>

  <!-- loader called until plan is set-->
  <ng-template #elseBlock>
    <div class="loading">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2>Getting The Second Screen Ready</h2>
    </div>
  </ng-template>
</div>

<ng-template #notActive>
  <img class = "backgroundImage" src="assets/plans/bigisland/images/second-screen-images/backgrounds/LandingPreview.png" />
</ng-template>
