<div class="second-screen-container" [style.backgroundColor]="plan ? 'transparent' : 'black'">
  <div *ngIf="plan; else elseBlock">
     <div [ngSwitch]="nextLayer">  <!--Load HTML here.-->
        <app-fire-risk *ngSwitchCase="firerisk"></app-fire-risk>
        <app-screen-default *ngSwitchDefault></app-screen-default>
    </div>
  </div>
</div>

  <!-- loader called until plan is set-->
  <ng-template #elseBlock>
    <div class="loading">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2>Getting The Second Screen Ready</h2>
    </div>
  </ng-template>