<div class="second-screen-container" [style.backgroundColor]="plan ? 'transparent' : 'black'">
  <div *ngIf="plan; else elseBlock"></div> <!--  Breaks the main menu if you remove this line. -->
    <img class="background-image" src="{{ plan.secondScreenImagePath }}" />
  </div>

  <!-- loader called until plan is set-->
  <ng-template #elseBlock>
    <div class="loading">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2>Getting The Second Screen Ready</h2>
    </div>
  </ng-template>
</div>
